footer {
    grid-area: ft;
    background-color:var(--color1);
    color: var(--color5);
    padding-bottom: 15px;
    text-align: center;
  }

  .fab {
    padding: 5px;
  }

.copyrights{
  color:var(--color0);
  font-size: 1rem;
  padding: 20px 0;
}