:root {
  --color0: #383838;
  --color1: #247881;
  --color2: #43919B;
  --color3: #30AADD;
  --color4: #00FFC6;
  --color5: #fff;
  --color6: #EDE6DB;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows:100px auto 100px; */
  grid-template-areas:
    "hd hd"
    "mn mn"
    "sd sd"
    "ft ft";
  /* grid-gap: 1.5rem; */
}

@media(min-width:1101px) {
  .grid-container {
    grid-template-areas:
      "hd hd"
      "sd mn"
      "ft ft";
  }
}
